body { padding:0px; margin:0px; }

#AdminLayout { font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; position: absolute; top: 0px; width: 100%; background-color:white; color:#333; }

#AdminLayout ul { list-style:none; padding:0px; margin:0px; }
#AdminLayout a { color:#333; text-decoration:none; }
#AdminLayout h2,
#AdminLayout h3 { color:#333; }

#AdminLayout .left { float:left!important; }
#AdminLayout .right { float:right!important; }
#AdminLayout .mr5 { margin-right:5px; }
#AdminLayout .mt5 { margin-top:5px!important; }
#AdminLayout .mt10 { margin-top:10px!important; }
#AdminLayout .mt20 { margin-top:20px!important; }
#AdminLayout .mt30 { margin-top:30px!important; }
#AdminLayout .mt40 { margin-top:40px!important; }
#AdminLayout .yet { color:#ccc; }

#AdminLayout .admin-cf:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }
