body { font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; }
.btn { background-color: #333; color: #fff; text-decoration: none; padding: 10px; border: 0px; font-size: 20px; cursor: pointer; display:inline-block; }
